<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plastic-Oil Converter</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.11/dist/htmx.min.js" integrity="sha384-2OatzQy1H+Zd/IIrjr1TcuDGqLXeHhbooAyJY1KdQMKnr4LZ22k31GBLdYKHmVjg" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
  </head>
  <body>
    <div>
      <form
        hx-post="/conversion"
        hx-ext="json-enc"
        hx-target="#conversion-result"
        hx-swap="innerHTML"
      >
        <label for="hdpe">HDPE: <output id="hdpe-value">50</output></label><br>
        <input 
          id="hdpe" 
          name="hdpe" 
          type="range" 
          min="1" max="100" 
          step="0.1" 
          style="width: 400px" 
          value="50" 
          oninput="document.getElementById('hdpe-value').value = this.value"
        ><br>
        <input type="submit" value="Submit">
      </form>
      <div id="conversion-result"></div>
    </div>
  </body>
</html>